<style type="text/css" media="screen">
	#commentform p {
	margin: 1em 0px;
	}
	#author, #email, #url, #comment {
	border: 1px solid #BBB;
	font: normal normal normal 1.1em/normal arial, helvetica, verdana, sans-serif;
	padding: 2px;
	}
	label {
	cursor: default;
	}
	#commentform p small {
	color: #7F7F7F;
	font-size: 10px;
	}
	#comment {
	overflow: auto;
	width: 480px;
	}
	#comments h3, h3#respond {
	color: #555;
	margin-bottom: 7px;
	}
	#comments {
	padding: 12px 0px 0px;
	width: 480px;
	}
</style>
<h3 id="respond">Reply to “<%=post.subject%>”</h3>
<%if current_user%>
<%form_for(Comment.new,:url => post_comments_path(post),:remote => true) do |comment|%>
<p><%=comment.text_area :comment,:cols => 100, :rows => 7,:id => 'comment' %></p>
<p><%=image_submit_tag 'btn_submit.gif',:id => 'submit'%>
</p>
<%end%>
<%else%>
<h4>You must <%=link_to 'login',login_path%> to comment.Or <%=link_to 'create new account',new_user_path%>.</h4>
<%end%>
