<%= form_for(@post, :html => { :multipart => true } ) do |f| %>
<%@post.pictures.build ; @post.links.build%>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
	<div class='label'><%=f.label :Subject%>:</div>
	<div class='value'><%=f.text_field	:subject%></div>

	<div class='label'><%=f.label :Tags,'Tags:'%></div>
	<div class='value'><%=f.text_field :tag_list%>(separate by comma)</div>
	<div class='label'><%=f.label :Country,'Country:'%></div>
	<div class='value'><%=f.select :area_id,grouped_options_for_select(area_by_groups,f.object.area_id,'-select one-')%></div>

	<div class='label'><%=f.label :Pcitures,'Pictures:  '%></div>
	<div class='value'><%=link_to_function 'add picture',"$('pictures').insert({'bottom':'<div class=\"value\">'+$('picture_blank').innerHTML.gsub(/post\\\[pictures_attributes\\\]\\\[\\d+\\\]/, 'post[pictures_attributes]['+$$('#pictures div').size()+']')+'</div>'});",{:style=>'color:red'}%></div>
	<div id='pictures'>	
	
			<%=f.fields_for :pictures do |ps|%>
			<div  <%="style='display:none' id='picture_blank'" if ps.object.new_record? && ps.object.errors.blank? %>>
				<%=ps.hidden_field :id%>
				<%=ps.label :title%>
				<%=ps.text_field :description,:size => 20%>
				<%#=ps.label :Upload%>
				<%=ps.object.new_record? ? (ps.file_field :image) : image_tag(ps.object.image.url(:thumb))%>
			            <%= ps.label :_destroy, 'Remove:' -%>
			            <%= ps.check_box :_destroy -%>
			</div>
			<%end%>
	
</div>
	<div class='label'><%=f.label :Links,'Links:'%></div>
	<div class='value'><%=link_to_function 'add link',"$('links').insert({'bottom':'<div>'+$('link_blank').innerHTML.gsub(/post\\\[links_attributes\\\]\\\[\\d+\\\]/, 'post[links_attributes]['+$$('#links div').size()+']')+'</div>'});",{:style=>'color:red'}%></div>
	<div id='links'>
	<%=f.fields_for :links do |ls|%>
	<div <%="style='display:none' id='link_blank'" if ls.object.new_record? && ls.object.errors.blank?%> >
	<%=ls.hidden_field :id%>
	<%=ls.label :Title%>
	<%=ls.text_field :description%>
	<%=ls.label :url%>
	<%=ls.url_field :url%>
	<%= ls.label :_destroy, 'Remove:' -%>
    <%= ls.check_box :_destroy -%>
	<br/></div>
	<%end%></div>
    <div class='value'><%= f.submit %></div>
<div class'cb'></div>
  </div>
<% end %>
