<h1>Listing posts</h1>
<%if @tags%>
<% tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class| %>
    <%= link_to tag.name,'posts/tagged/'+tag.name,{:class => css_class} %>
  <% end %>
<%end%>
<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @posts.each do |post| %>

  <tr>
    <td><%= link_to post.subject, post,{:style=>'color:red'} %></td>
    <td><%= link_to 'Edit', edit_post_path(post) %></td>
    <td><%= link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post', new_post_path %><br/><br/>

