<h1>Recently Posts</h1>
<%= stylesheet_link_tag 'postindex.css' %>

<div class='posts'>
<% @posts.each do |post| %>
<div class='post'>
	<div class='title'><%=link_to post.subject,post%></div>
	<div class='content'>
		<%post.pictures.each do |p|%>
<div class='pic'>		<div class='c_title'><%=p.description%></div>
		<div class='c_pic'><%=image_tag p.image.url(:thumb)%></div>
		<div class='cb'></div>
		</div>
		
		<%end%>
		<%post.links.each do |p|%>
		<div class='c_link'><%=link_to p.description,p.url%></div>
		<%end%>
	</div>
	<div class='user'>
		<p>By <%=post.user.login if post.user%></p>
		<p>At <%=post.created_at%></p>
	</div>
</div>

<% end %>
</div>

<br />



