<!-- <p id="notice"><%#= notice %></p> -->
<%= javascript_include_tag 'comment.js'%>
<%=label_tag :Subject%>
<%=h @post.subject%><Br/>
<%=label_tag :Country%>
<%=@post.area.name%><br/>
<%unless @post.pictures.blank?%>
<%=label_tag :Pictures%><br/>
<%@post.pictures.each do |pic|%>
<%=label_tag :Title,'Title:  '%><%=pic.description%><%=image_tag pic.image.url(:medium)%><br/>
<%end%>
<%end%>
<%unless @post.links%>
<%=label_tag :Links%><br/>
<%@post.links.each do |link|%>
<%=link_to link.description.blank? ? link.url : link.description,link.url%><br/>
<%end%>
<%end%>
<br/>
<%=render :partial => 'comments',:locals => {:post => @post}%>
<%=render :partial => 'comment_form',:locals => {:post => @post}%>
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
