<!DOCTYPE html>
<html>
<head>
  <title>Travel</title>
  <%= stylesheet_link_tag 'pagination.css','tagcloud.css','scaffold.css','style.css' %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
<%=auto_discovery_link_tag :rss, posts_url(:xml), :title=>'New Posts'%>
</head>
<style type="text/css" media="screen">
	#main {
		margin: 20px auto;
		width:960px;
/*		float:left;*/
	}
</style>
	<div style='display:none;'><%=image_tag "/images/ajax-loader.gif", {:title => "提交中", :style => "margin-left: 10px;",:id => 'ajax-loader'} %></div>
		
<body>
	<%=render 'shared/top'%>
<div id='main'>
	<%=render :partial=>"shared/message_bar"%>
<div style='width:665px;float:left;'><%= yield %></div>
<%=render :partial => 'shared/side_bar'%>
</div>

<%=render 'shared/bottom'%>
</body>
</html>
